.cart_list {
    margin: 50px auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    width: 1000px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.shopping_cart_title{
    font-size: 30px;
    margin-left: 20px;
}

.cart_total{
    font-size: 15px;
    display: flex;
    justify-content: end;
}

.empty_cart_title{
    justify-content: center;
}